h1, p {
  font-family: Lato;
}
td {
  width:23px;
  height: 23px;
  background-color: #d2d9ef;
  box-shadow: none;
  text-align: center;
}
input {
  border: 0
}
input.right-align{
  text-align: right;
  background-color: transparent
}

input.left-align{
  text-align: left;
}